/* .bg_color{
    background-color: #08e6b6;
} */
.img img{
    width: 250px;
}
.logo{
    background-color: rgb(7, 235, 136);
    text-decoration: none;
    font-weight: 800;
}
.logo h2{
    font-weight: 600;
}
.logo a{
    color: #fff;
   
}
.header_menu{
    background-color: rgb(7, 235, 136);
}
.header_menu ul li a{
    color: #fff;
}